{% extends 'base.html' %}

{% block content %}
<h2>Your Service Requests</h2>
{% if requests %}
    <ul>
    {% for request in requests %}
        <li>
            <a href="{% url 'request_detail' request.pk %}">
                {{ request.request_type }} - {{ request.get_status_display }}
            </a>
            <br>
            Priority: {{ request.get_priority_display }}
            <br>
            Submitted on: {{ request.created_at }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no service requests.</p>
{% endif %}
<a href="{% url 'submit_request' %}">Submit a new request</a>
{% endblock %}